
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/unnamed.webp);
    font-family: 'Inter', sans-serif;
    color: #0e305f;
}


.header {
    width: 100%;
    padding: 15px 40px;
    background-color: #0e2e62;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header ul li a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

header ul li a:hover {
    background: rgba(255, 255, 255, 0.25);
}

.btn-contato {
    background: #ffffff;
    color: #0d2a52 !important;
}

.btn-contato:hover {
    background: #e9e9e9 !important;
}


.contato-section {
    text-align: center;
    padding: 120px 20px;
}

.contato-section h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 64px;
    line-height: 70px;
    color: #0d2a52;
    font-weight: 600;
}

.subtexto {
    font-size: 20px;
    margin-top: 20px;
    opacity: 0.9;
}

.btn-entrar {
    display: inline-block;
    background: #6c8ccf;
    color: white;
    text-decoration: none;
    padding: 14px 35px;
    border-radius: 35px;
    margin-top: 30px;
    font-size: 17px;
    transition: 0.3s;
}

.btn-entrar:hover {
    transform: scale(1.05);
    background: #5b7bbd;
}


.footer {
    background-color: #0e2e62;
    color: white;
    padding: 50px 40px;
    margin-top: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 150px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
}

.footer-col a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-col a:hover {
    text-decoration: underline;
}


.footer-social img {

    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social img {
    width: 28px;
    filter: brightness(1);
}

.footer-bottom {
    margin-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-top {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.back-to-top:hover {
    opacity: 0.7;
}
