@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url("imagens/Harity\ Tecnology\ Inc.\ \(1\).png"); /* caminho da imagem */
    background-size: cover;        /* faz a imagem cobrir a tela inteira */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição da imagem */  
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    width: 100%;
    background-color: #FFF;
}

#navbar{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;

}

#nav_logo{
    font-size: 24px;
    color: black;
    margin-right: 80px;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
    right: -5 ;
    margin-left: 20px;
}



.nav-item.active {
    color: black;
    border-bottom: 3px solid #3333FF;
}

.bnt-default{
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 800;
    box-shadow: 0px 0px 10px 2px #000066(0, 0, 0, 0, 0.1);
}

nav{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    
}

nav a {
    background: #2b4d85;
    color: white;
    padding: 18px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
#line-azul {
    width: 100%;
    height: 3px;
    background-color: #0033cc;
}
nav {
    display: flex;
    gap: 20px;
}

#harity {
    position: relative; /* mantém no fluxo normal */
    margin-top: 260px;  /* distância do topo (ou do nav) */
    left: 0;
    font-size: 80px;
    left: 50px;
    text-decoration: underline;
    color: #000066;
}

#haha {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0033cc;        /* mesmo azul do h1 */
    margin-left: 50px;     /* alinhado com o h1 */
    margin-top: 10px;      /* distância entre h1 e p */
}



/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    #harity {
        font-size: 50px;
        margin-left: 30px;
    }
}