body {
    background-image: url("imagens/Harity\ Tecnology\ Inc..png"); /* caminho da imagem */
    background-size: cover;        /* faz a imagem cobrir a tela inteira */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição da imagem */
    background-attachment: fixed;  /* faz a imagem ficar fixa ao rolar a página */
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
main.quemsomos h1 {
    font-family: "Playfair", serif;
    font-size: 4 rem !important; /* opcional */
    font-weight: 700 !important;  /* opcional */
      
}

/* PARTE QUEM SOMOS E TEXTO */

main.quemsomos{
    width: 80%;
    margin:50px auto;
    text-align: center;
}


main.quemsomos p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem !important;

}

/* FOTOS */

section.funcionarios{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}

figure.funcionarios{
    background: transparent;
    box-shadow: none;

}
figure.funcionarios img:hover {
    transform: scale(1.05);     /* aumenta só a foto */
    transition: 0.3s ease;
    box-shadow: none !important;
    background: none !important;
}



figure.funcionarios figcaption{
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
}

figure.funcionarios img{
    width: 180px;
    height: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1d3557;
    display: block;
    margin: 0 auto 15px auto;
}

/* hover nas palavras abaixo das imagens */ 
figure.funcionarios figcaption{
    font-family: "playfair", serif;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    cursor: default;

}

figure.funcionarios figcaption:hover {
    color: #1d3557;           /* muda a cor ao passar o mouse */
    transform: translateY(-2px); /* efeito leve */
}