* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo */
body {
    background-image: url('imagens/unnamed.webp');
    background-size: cover;
    background-position: center;
}

/* Container para alinhar os cards */
.card-container {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Tamanho do card */
.flip-card {
    width: 320px;  
    height: 200px;      
    perspective: 1000px;
}

/* Estrutura interna */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Ativa o flip ao passar o mouse */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Frente e verso */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #B1C5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    font-family: "Inter", sans-serif;
    padding: 15px;
    text-align: center;
}

/* Frente */
.flip-card-front {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
}

/* Verso */
.flip-card-back {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    transform: rotateY(180deg);
}

/* GRID */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-left: auto;
    margin-right: 200px;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
}
